$primary-color: #369;
$margin: 25px;
$padding: $margin * 1.5;

body {
	background: $primary-color;
	text-align: center;
	font-family: Futura, "Trebuchet MS", sans-serif;
	> h1 {
	font-size: 3em;
	color: #eee;
	margin: $margin 0 0 $margin;
	}
}

.entry{
	background: white;
	margin: $margin; 
	padding: $padding;
	border: 2pt dotted black;
	h1 {
		font-size: 1.2em;
		margin: 0px;
	}
	.date {
		font-size: 0.3em;
		color: $primary-color;
	}
	a {
		color: $primary-color;
	}
}